body{
  background: black;
}
.container
{
  position: relative;
  width: 480px;
  height: 1500px;
  overflow: hidden;
  top: 0%;
}

/*Background*/
.bg {
  background-image: url(../img/BG.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
  width: 201%;
  height: 100%;

  top: -35%;
  left: -50.5%;

  z-index: 4;

  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.bg-animation{
  top: -30%;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.bg-animation2{
  top: -32%;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}

/*Floor*/
.floor
{
  background-image: url(../img/floor.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 800%;
  height: 100%;

  bottom: -3%;
  right: -246%;

  z-index: 2;

  -webkit-transform: scale(0.5, 0.5);
      -ms-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.floor-animation{
  bottom: -8%;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.floor-animation2{
  bottom: -21%;
  right: -266%;

  -webkit-transform: scale(0.4, 0.58);
      -ms-transform: scale(0.4, 0.58);
          transform: scale(0.4, 0.58);

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}

/*Pillar*/
.b2
{
  background-image: url(../img/B2.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  width: 490%;
  height: 100%;


  top: -23.5%;
  right: -194.6%;

  z-index: 6;


  -webkit-transform: scale(0.3);
      -ms-transform: scale(0.3);
          transform: scale(0.3);

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.b2-animation{
  top: -18.5%;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.b2-animation2{
  top: -11.7%;

  -webkit-transform: scale(0.1);
      -ms-transform: scale(0.1);
          transform: scale(0.1);

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}

/*S36 logo*/
.logo{
  background-image: url(../img/Blogo.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  width: 162%;
  height: 54%;

  top: 5.1%;
  left: -31.2%;

  z-index: 6;

  -webkit-transform: scale(0.37);
      -ms-transform: scale(0.37);
          transform: scale(0.37);

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.logo-animation{
  top: 10.1%;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.logo-animation2{
  top: 13.6%;
  left: -31.2%;

  -webkit-transform: scale(0.12);
      -ms-transform: scale(0.12);
          transform: scale(0.12);

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}

/*Gears BG*/
.d3{
  background-image: url(../img/B.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  width: 140%;
  height: 42%;

  top: 7%;
  left: -19%;

  z-index: 5;

  -webkit-transform: scale(0.58);
      -ms-transform: scale(0.58);
          transform: scale(0.58);

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.d3-animation{
  top: 12%;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.d3-animation2{
  top: 17.6%;
  left: -21%;

  -webkit-transform: scale(0.22);
      -ms-transform: scale(0.22);
          transform: scale(0.22);

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}

/*Statue left*/
.s1
{
  background-image: url(../img/girl1.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  width: 410%;
  height: 100%;

  top: -16.5%;
  left: -280.6%;

  z-index: 7;

  -webkit-transform: scale(0.35);
      -ms-transform: scale(0.35);
          transform: scale(0.35);

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.s1-animation{
  left: -199%;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.s1-animation2{
  top: -11.5%;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.s1-animation3{
  top: -9.5%;
  left: -175.6%;

  -webkit-transform: scale(0.11);
      -ms-transform: scale(0.11);
          transform: scale(0.11);

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}

/*Statue Right*/
.s2
{
  background-image: url(../img/girl2.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  width: 398%;
  height: 100%;

  top: -116.7%;
  right: -25.4%;

  z-index: 7;

  -webkit-transform: scale(0.35);
      -ms-transform: scale(0.35);
          transform: scale(0.35);

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.s2-animation{
  right: 102.3%;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.s2-animation2{
  top: -111.5%;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.s2-animation3{
  top: -109.7%;
  right: 128.5%;

  -webkit-transform: scale(0.11);
      -ms-transform: scale(0.11);
          transform: scale(0.11);

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}

/*Ceiling*/
.c1
{
  background-image: url(../img/ceiling.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  width: 900%;
  height: 100%;

  top: -80%;
  right: -351.5%;

  z-index: 7;

  -webkit-transform: scale(0.3);
      -ms-transform: scale(0.3);
          transform: scale(0.3);

  -webkit-transition: 2s ease-in-out;
          transition: 2s ease-in-out;
}
.c1-animation{
  top: -29%;
  right: -351.5%;

  -webkit-transform: scale(0.28);
      -ms-transform: scale(0.28);
          transform: scale(0.28);

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}

/*Girl(small)*/
.girl-sm
{
  background-image: url(../img/Girl-sm.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  width: 825%;
  height: 100%;

  top: -25%;
  right: -362.5%;

  z-index: 7;
  opacity: 0;

  -webkit-transform: scale(0.055);
      -ms-transform: scale(0.055);
          transform: scale(0.055);

  -webkit-transition: 2s ease-in-out;
          transition: 2s ease-in-out;
}
.girl-sm-animation{
  top: -7%;

  opacity: 1;

  -webkit-transition: all 2s ease-in-out 2s;
          transition: all 2s ease-in-out 2s;
}

/*Slot left*/
.slot-left
{
  background-image: url(../img/slots-left.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  width: 410%;
  height: 100%;

  top: -16.5%;
  left: -280.6%;

  z-index: 7;

  -webkit-transform: scale(0.35);
      -ms-transform: scale(0.35);
          transform: scale(0.35);

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.slot-left-animation{
  left: -199%;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}

/*Dice left*/
.dice-left
{
  /*background-image: url(../img/dice-left.png);*/
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  width: 330%;
  height: 100%;

  top: -283%;
  left: -280.6%;

  z-index: 7;

  -webkit-transform: scale(0.13);
      -ms-transform: scale(0.13);
          transform: scale(0.13);

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.dice-left-animation{
  left: -146%;

  animation: spin 5s linear forwards;

  -webkit-transition: all 4s ease-in-out;
          transition: all 4s ease-in-out;
}

@keyframes spin {
    0% {transform: scale(0.13) rotateX(0deg);}
    50% {transform:scale(0.13) rotateX(180deg);}
    100% {transform: scale(0.13) rotateX(360deg);}
}

/*Chandelier big*/
.ch1
{
  background-image: url(../img/Chandelier.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  width: 352%;
  height: 100%;

  top: -100%;
  right: -129%;

  z-index: 8;

  -webkit-transform: scale(0.2);
      -ms-transform: scale(0.2);
          transform: scale(0.2);

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.ch1-animation{
  top: -49%;
  right: -127%;

  -webkit-transform: scale(0.18);
      -ms-transform: scale(0.18);
          transform: scale(0.18);

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.ch1-animation2{
  top: -37.5%;
  right: -126%;

  -webkit-transform: scale(0.16);
      -ms-transform: scale(0.16);
          transform: scale(0.16);

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}

/*Chandelier small*/
.ch2
{
  background-image: url(../img/Chandelier.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  width: 351%;
  height: 100%;

  top: -100%;
  right: -129%;

  z-index: 7;

  -webkit-transform: scale(0.2);
      -ms-transform: scale(0.2);
          transform: scale(0.2);

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.ch2-animation{
  top: -40%;
  right: -127%;

  -webkit-transform: scale(0.11);
      -ms-transform: scale(0.11);
          transform: scale(0.11);

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.ch2-animation2{
  top: -29.9%;
  right: -125%;

  -webkit-transform: scale(0.1);
      -ms-transform: scale(0.1);
          transform: scale(0.1);

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}

/*Gear metal*/
.m1 {
  background-image: url(../img/m1.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  width: 516%;
  height: 103%;

  top: -20.3%;
  left: -184.9%;

  z-index: 6;
  opacity: 1;

  -webkit-transform: scale(0.05);
      -ms-transform: scale(0.05);
          transform: scale(0.05);

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.m1-animation{
  top: -15.3%;
  left: -184.9%;

  -webkit-transform: scale(0.05);
      -ms-transform: scale(0.05);
          transform: scale(0.05);

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.m1-animation2{
  top: -11.4%;
  left: -198.9%;

  opacity: 0.5;

  -webkit-transform: scale(0.018);
      -ms-transform: scale(0.018);
          transform: scale(0.018);

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}

/*Gears*/
.g1
{
  background-image: url(../img/GearB.png);
  background-repeat: no-repeat;
  width: 448px;
  height: 453px;
  position: absolute;

  z-index: 5;

  top: 9.5%;
  left: -15.3%;

  animation: clockwise 8s linear infinite, gearsmallcw 2s none;;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.g1-animation{
  top: 14.5%;

  animation: clockwise 8s linear infinite, gearsmallcw 3s none;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.g1-animation2{
  top: 23%;
  left: -3.2%;

  opacity: 0.5;

  animation: clockwise2 8s linear infinite, gearbigcw 3s none;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}

.g2
{
  background-image: url(../img/GearM2.png);
  background-repeat: no-repeat;
  width: 322px;
  height: 324px;
  position: absolute;

  top: 16.5%;
  left: 16.2%;

  z-index: 5;

  animation: counter 8s linear infinite, gearsmallcounter 2s none;;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.g2-animation{
  top: 21.6%;
  left: 14.8%;

  animation: counter 8s linear infinite, gearsmallcounter 3s none;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.g2-animation2{
  top: 28%;
  left: 16.1%;

  opacity: 0.5;

  animation: counter2 8s linear infinite, gearbigcounter 3s none;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.g3
{
  background-image: url(../img/GearM3.png);
  background-repeat: no-repeat;
  width: 329px;
  height: 326px;
  position: absolute;

  top: 20.8%;
  left: 26.8%;

  z-index: 5;

  animation: clockwise 8s linear infinite, gearsmallcw 2s none;;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.g3-animation{
  top: 25.8%;
  left: 26.8%;

  animation: clockwise 8s linear infinite, gearsmallcw 3s none;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.g3-animation2{
  top: 29.5%;
  left: 20.5%;

  opacity: 0.5;

  animation: clockwise2 8s linear infinite, gearbigcw 3s none;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.g4
{
  background-image: url(../img/GearReallySmall.png);
  background-repeat: no-repeat;
  width: 129px;
  height: 130px;
  position: absolute;

  top: 29.2%;
  right: 14.9%;

  z-index: 5;

  animation: counter 8s linear infinite, gearsmallcounter 2s none;;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.g4-animation{
  top: 34.2%;
  right: 14.9%;

  animation: counter 8s linear infinite, gearsmallcounter 3s none;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.g4-animation2{
  top: 36.6%;
  right: 27.6%;

  opacity: 0.5;

  animation: counter2 8s linear infinite, gearbigcounter 3s none;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.g5
{
  background-image: url(../img/GearM3.png);
  background-repeat: no-repeat;
  width: 329px;
  height: 326px;
  position: absolute;

  top: 12.9%;
  left: 27.5%;

  z-index: 5;

  animation: clockwise 8s linear infinite, gearsmallcw 2s none;;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.g5-animation{
  top: 17.9%;

  animation: clockwise 8s linear infinite, gearsmallcw 3s none;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.g5-animation2{
  top: 27%;
  left: 20.2%;

  opacity: 0.5;

  animation: clockwise2 8s linear infinite, gearbigcw 3s none;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.g6
{
  background-image: url(../img/GearB.png);
  background-repeat: no-repeat;
  width: 448px;
  height: 453px;
  position: absolute;

  top: 2%;
  left: 22.5%;

  z-index: 5;

  animation: counter 8s linear infinite, gearsmallcounter 2s none;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}

.g6-animation{
  top: 7.3%;
  left: 22.5%;

  animation: counter 8s linear infinite, gearsmallcounter 3s none;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.g6-animation2{
  top: 21%;
  left: 10.6%;

  opacity: 0.5;

  animation: counter2 8s linear infinite, gearbigcounter 3s none;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.g7
{
  background-image: url(../img/GearM3.png);
  background-repeat: no-repeat;
  width: 329px;
  height: 326px;
  position: absolute;

  top: 18.3%;
  right: -19.5%;

  z-index: 5;

  animation: clockwise 8s linear infinite, gearsmallcw 2s none;;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.g7-animation{
  top: 23.3%;

  animation: clockwise 8s linear infinite, gearsmallcw 3s none;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.g7-animation2{
  top: 28.5%;
  right: 4.5%;

  opacity: 0.5;

  animation: clockwise2 8s linear infinite, gearbigcw 3s none;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.g8
{
  background-image: url(../img/GearS1.png);
  background-repeat: no-repeat;
  width: 240px;
  height: 241px;
  position: absolute;

  top: 15.9%;
  right: -2%;

  z-index: 5;

  animation: counter 8s linear infinite, gearsmallcounter 2s none;;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.g8-animation{
  top: 21%;

  animation: counter 8s linear infinite, gearsmallcounter 3s none;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.g8-animation2{
  top: 29.7%;
  right: 16%;

  opacity: 0.5;

  animation: counter2 8s linear infinite, gearbigcounter 3s none;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.g9
{
  background-image: url(../img/GearM2.png);
  background-repeat: no-repeat;
  width: 322px;
  height: 324px;
  position: absolute;

  top: 17.5%;
  left: -19.4%;

  z-index: 5;

  animation: counter 8s linear infinite, gearsmallcounter 2s none;;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.g9-animation{
  top: 22.7%;

  animation: counter 8s linear infinite, gearsmallcounter 3s none;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.g9-animation2{
  top: 28.6%;
  left: 5%;

  opacity: 0.5;

  animation: counter2 8s linear infinite, gearbigcounter 3s none;

  -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
/*keyframes gears scale*/
@keyframes gearbigcounter {
  0%{
    transform: scale(0.3);
  }
  100% {
    transform: scale(0.08);
  }
}

@keyframes gearsmallcounter {
  0%{
    transform: scale(0.08);
  }
  100%{
    transform: scale(0.3);
  }
}
@keyframes gearbigcw {
  0%{
    transform: scale(0.25);
  }
  100% {
    transform: scale(0.08);
  }
}

@keyframes gearsmallcw {
  0%{
    transform: scale(0.08);
  }
  100%{
    transform: scale(0.25);
  }
}

/*keyframes gears rotation*/
@keyframes clockwise{
    0% {
      -webkit-transform: scale(0.25) rotate(0deg);
          -ms-transform: scale(0.25) rotate(0deg);
              transform: scale(0.25) rotate(0deg);
    }
    5%, 10% {
      -webkit-transform: scale(0.25) rotate(36deg);
          -ms-transform: scale(0.25) rotate(36deg);
              transform: scale(0.25) rotate(36deg);
    }
    15%, 20% {
      -webkit-transform: scale(0.25) rotate(72deg);
          -ms-transform: scale(0.25) rotate(72deg);
              transform: scale(0.25) rotate(72deg);
    }
    25%, 30% {
      -webkit-transform: scale(0.25) rotate(108deg);
          -ms-transform: scale(0.25) rotate(108deg);
              transform: scale(0.25) rotate(108deg);
    }
    35%, 40% {
      -webkit-transform: scale(0.25) rotate(144deg);
          -ms-transform: scale(0.25) rotate(144deg);
              transform: scale(0.25) rotate(144deg);
    }
    45%, 50% {
      -webkit-transform: scale(0.25) rotate(180deg);
          -ms-transform: scale(0.25) rotate(180deg);
              transform: scale(0.25) rotate(180deg);
    }
    55%, 60% {
      -webkit-transform: scale(0.25) rotate(216deg);
          -ms-transform: scale(0.25) rotate(216deg);
              transform: scale(0.25) rotate(216deg);
    }
    65%, 70% {
      -webkit-transform: scale(0.25) rotate(252deg);
          -ms-transform: scale(0.25) rotate(252deg);
              transform: scale(0.25) rotate(252deg);
    }
    75%, 80% {
      -webkit-transform: scale(0.25) rotate(288deg);
          -ms-transform: scale(0.25) rotate(288deg);
              transform: scale(0.25) rotate(288deg);
    }
    85%, 90% {
      -webkit-transform: scale(0.25) rotate(324deg);
          -ms-transform: scale(0.25) rotate(324deg);
              transform: scale(0.25) rotate(324deg);
    }
    95%, 100% {
      -webkit-transform: scale(0.25) rotate(360deg);
          -ms-transform: scale(0.25) rotate(360deg);
              transform: scale(0.25) rotate(360deg);
    }
    -100%, -95% {
      -webkit-transform: scale(0.25) rotate(-360deg);
          -ms-transform: scale(0.25) rotate(-360deg);
              transform: scale(0.25) rotate(-360deg);
    }
    -90%, -85% {
      -webkit-transform: scale(0.25) rotate(-324deg);
          -ms-transform: scale(0.25) rotate(-324deg);
              transform: scale(0.25) rotate(-324deg);
    }
    -80%, -75% {
      -webkit-transform: scale(0.25) rotate(-288deg);
          -ms-transform: scale(0.25) rotate(-288deg);
              transform: scale(0.25) rotate(-288deg);
    }
    -70%, -65% {
      -webkit-transform: scale(0.25) rotate(-252deg);
          -ms-transform: scale(0.25) rotate(-252deg);
              transform: scale(0.25) rotate(-252deg);
    }
    -60%, -55% {
      -webkit-transform: scale(0.25) rotate(-216deg);
          -ms-transform: scale(0.25) rotate(-216deg);
              transform: scale(0.25) rotate(-216deg);
    }
    -50%, -45% {
      -webkit-transform: scale(0.25) rotate(-180deg);
          -ms-transform: scale(0.25) rotate(-180deg);
              transform: scale(0.25) rotate(-180deg);
    }
    -40%, -35% {
      -webkit-transform: scale(0.25) rotate(-144deg);
          -ms-transform: scale(0.25) rotate(-144deg);
              transform: scale(0.25) rotate(-144deg);
    }
    -30%, -25% {
      -webkit-transform: scale(0.25) rotate(-108deg);
          -ms-transform: scale(0.25) rotate(-108deg);
              transform: scale(0.25) rotate(-108deg);
    }
    -20%, -15% {
      -webkit-transform: scale(0.25) rotate(-72deg);
          -ms-transform: scale(0.25) rotate(-72deg);
              transform: scale(0.25) rotate(-72deg);
    }
    -10%, -5% {
      -webkit-transform: scale(0.25) rotate(-36deg);
          -ms-transform: scale(0.25) rotate(-36deg);
              transform: scale(0.25) rotate(-36deg);
    }
    0% {
      -webkit-transform: scale(0.25) rotate(0deg);
          -ms-transform: scale(0.25) rotate(0deg);
              transform: scale(0.25) rotate(0deg);
    }
}
@keyframes counter{
  0% {
    -webkit-transform: scale(0.3) rotate(0deg);
        -ms-transform: scale(0.3) rotate(0deg);
            transform: scale(0.3) rotate(0deg);
  }
  5%, 10% {
    -webkit-transform: scale(0.3) rotate(-36deg);
        -ms-transform: scale(0.3) rotate(-36deg);
            transform: scale(0.3) rotate(-36deg);
  }
  15%, 20% {
    -webkit-transform: scale(0.3) rotate(-72deg);
        -ms-transform: scale(0.3) rotate(-72deg);
            transform: scale(0.3) rotate(-72deg);
  }
  25%, 30% {
    -webkit-transform: scale(0.3) rotate(-108deg);
        -ms-transform: scale(0.3) rotate(-108deg);
            transform: scale(0.3) rotate(-108deg);
  }
  35%, 40% {
    -webkit-transform: scale(0.3) rotate(-144deg);
        -ms-transform: scale(0.3) rotate(-144deg);
            transform: scale(0.3) rotate(-144deg);
  }
  45%, 50% {
    -webkit-transform: scale(0.3) rotate(-180deg);
        -ms-transform: scale(0.3) rotate(-180deg);
            transform: scale(0.3) rotate(-180deg);
  }
  55%, 60% {
    -webkit-transform: scale(0.3) rotate(-216deg);
        -ms-transform: scale(0.3) rotate(-216deg);
            transform: scale(0.3) rotate(-216deg);
  }
  65%, 70% {
    -webkit-transform: scale(0.3) rotate(-252deg);
        -ms-transform: scale(0.3) rotate(-252deg);
            transform: scale(0.3) rotate(-252deg);
  }
  75%, 80% {
    -webkit-transform: scale(0.3) rotate(-288deg);
        -ms-transform: scale(0.3) rotate(-288deg);
            transform: scale(0.3) rotate(-288deg);
  }
  85%, 90% {
    -webkit-transform: scale(0.3) rotate(-324deg);
        -ms-transform: scale(0.3) rotate(-324deg);
            transform: scale(0.3) rotate(-324deg);
  }
  95%, 100% {
    -webkit-transform: scale(0.3) rotate(-360deg);
        -ms-transform: scale(0.3) rotate(-360deg);
            transform: scale(0.3) rotate(-360deg);
  }
  -100%, -95% {
    -webkit-transform: scale(0.3) rotate(360deg);
        -ms-transform: scale(0.3) rotate(360deg);
            transform: scale(0.3) rotate(360deg);
  }
  -90%, -85% {
    -webkit-transform: scale(0.3) rotate(324deg);
        -ms-transform: scale(0.3) rotate(324deg);
            transform: scale(0.3) rotate(324deg);
  }
  -80%, -75% {
    -webkit-transform: scale(0.3) rotate(288deg);
        -ms-transform: scale(0.3) rotate(288deg);
            transform: scale(0.3) rotate(288deg);
  }
  -70%, -65% {
    -webkit-transform: scale(0.3) rotate(252deg);
        -ms-transform: scale(0.3) rotate(252deg);
            transform: scale(0.3) rotate(252deg);
  }
  -60%, -55% {
    -webkit-transform: scale(0.3) rotate(216deg);
        -ms-transform: scale(0.3) rotate(216deg);
            transform: scale(0.3) rotate(216deg);
  }
  -50%, -45% {
    -webkit-transform: scale(0.3) rotate(180deg);
        -ms-transform: scale(0.3) rotate(180deg);
            transform: scale(0.3) rotate(180deg);
  }
  -40%, -35% {
    -webkit-transform: scale(0.3) rotate(144deg);
        -ms-transform: scale(0.3) rotate(144deg);
            transform: scale(0.3) rotate(144deg);
  }
  -30%, -25% {
    -webkit-transform: scale(0.3) rotate(108deg);
        -ms-transform: scale(0.3) rotate(108deg);
            transform: scale(0.3) rotate(108deg);
  }
  -20%, -15% {
    -webkit-transform: scale(0.3) rotate(72deg);
        -ms-transform: scale(0.3) rotate(72deg);
            transform: scale(0.3) rotate(72deg);
  }
  -10%, -5% {
    -webkit-transform: scale(0.3) rotate(36deg);
        -ms-transform: scale(0.3) rotate(36deg);
            transform: scale(0.3) rotate(36deg);
  }
  0% {
    -webkit-transform: scale(0.3) rotate(0deg);
        -ms-transform: scale(0.3) rotate(0deg);
            transform: scale(0.3) rotate(0deg);
  }
}


@keyframes clockwise2{
    0% {
      -webkit-transform: scale(0.08) rotate(0deg);
          -ms-transform: scale(0.08) rotate(0deg);
              transform: scale(0.08) rotate(0deg);
    }
    5%, 10% {
      -webkit-transform: scale(0.08) rotate(36deg);
          -ms-transform: scale(0.08) rotate(36deg);
              transform: scale(0.08) rotate(36deg);
    }
    15%, 20% {
      -webkit-transform: scale(0.08) rotate(72deg);
          -ms-transform: scale(0.08) rotate(72deg);
              transform: scale(0.08) rotate(72deg);
    }
    25%, 30% {
      -webkit-transform: scale(0.08) rotate(108deg);
          -ms-transform: scale(0.08) rotate(108deg);
              transform: scale(0.08) rotate(108deg);
    }
    35%, 40% {
      -webkit-transform: scale(0.08) rotate(144deg);
          -ms-transform: scale(0.08) rotate(144deg);
              transform: scale(0.08) rotate(144deg);
    }
    45%, 50% {
      -webkit-transform: scale(0.08) rotate(180deg);
          -ms-transform: scale(0.08) rotate(180deg);
              transform: scale(0.08) rotate(180deg);
    }
    55%, 60% {
      -webkit-transform: scale(0.08) rotate(216deg);
          -ms-transform: scale(0.08) rotate(216deg);
              transform: scale(0.08) rotate(216deg);
    }
    65%, 70% {
      -webkit-transform: scale(0.08) rotate(252deg);
          -ms-transform: scale(0.08) rotate(252deg);
              transform: scale(0.08) rotate(252deg);
    }
    75%, 80% {
      -webkit-transform: scale(0.08) rotate(288deg);
          -ms-transform: scale(0.08) rotate(288deg);
              transform: scale(0.08) rotate(288deg);
    }
    85%, 90% {
      -webkit-transform: scale(0.08) rotate(324deg);
          -ms-transform: scale(0.08) rotate(324deg);
              transform: scale(0.08) rotate(324deg);
    }
    95%, 100% {
      -webkit-transform: scale(0.08) rotate(360deg);
          -ms-transform: scale(0.08) rotate(360deg);
              transform: scale(0.08) rotate(360deg);
    }
    -100%, -95% {
      -webkit-transform: scale(0.08) rotate(-360deg);
          -ms-transform: scale(0.08) rotate(-360deg);
              transform: scale(0.08) rotate(-360deg);
    }
    -90%, -85% {
      -webkit-transform: scale(0.08) rotate(-324deg);
          -ms-transform: scale(0.08) rotate(-324deg);
              transform: scale(0.08) rotate(-324deg);
    }
    -80%, -75% {
      -webkit-transform: scale(0.08) rotate(-288deg);
          -ms-transform: scale(0.08) rotate(-288deg);
              transform: scale(0.08) rotate(-288deg);
    }
    -70%, -65% {
      -webkit-transform: scale(0.08) rotate(-252deg);
          -ms-transform: scale(0.08) rotate(-252deg);
              transform: scale(0.08) rotate(-252deg);
    }
    -60%, -55% {
      -webkit-transform: scale(0.08) rotate(-216deg);
          -ms-transform: scale(0.08) rotate(-216deg);
              transform: scale(0.08) rotate(-216deg);
    }
    -50%, -45% {
      -webkit-transform: scale(0.08) rotate(-180deg);
          -ms-transform: scale(0.08) rotate(-180deg);
              transform: scale(0.08) rotate(-180deg);
    }
    -40%, -35% {
      -webkit-transform: scale(0.08) rotate(-144deg);
          -ms-transform: scale(0.08) rotate(-144deg);
              transform: scale(0.08) rotate(-144deg);
    }
    -30%, -25% {
      -webkit-transform: scale(0.08) rotate(-108deg);
          -ms-transform: scale(0.08) rotate(-108deg);
              transform: scale(0.08) rotate(-108deg);
    }
    -20%, -15% {
      -webkit-transform: scale(0.08) rotate(-72deg);
          -ms-transform: scale(0.08) rotate(-72deg);
              transform: scale(0.08) rotate(-72deg);
    }
    -10%, -5% {
      -webkit-transform: scale(0.08) rotate(-36deg);
          -ms-transform: scale(0.08) rotate(-36deg);
              transform: scale(0.08) rotate(-36deg);
    }
    0% {
      -webkit-transform: scale(0.08) rotate(0deg);
          -ms-transform: scale(0.08) rotate(0deg);
              transform: scale(0.08) rotate(0deg);
    }
}
@keyframes counter2{
  0% {
    -webkit-transform: scale(0.08) rotate(0deg);
        -ms-transform: scale(0.08) rotate(0deg);
            transform: scale(0.08) rotate(0deg);
  }
  5%, 10% {
    -webkit-transform: scale(0.08) rotate(-36deg);
        -ms-transform: scale(0.08) rotate(-36deg);
            transform: scale(0.08) rotate(-36deg);
  }
  15%, 20% {
    -webkit-transform: scale(0.08) rotate(-72deg);
        -ms-transform: scale(0.08) rotate(-72deg);
            transform: scale(0.08) rotate(-72deg);
  }
  25%, 30% {
    -webkit-transform: scale(0.08) rotate(-108deg);
        -ms-transform: scale(0.08) rotate(-108deg);
            transform: scale(0.08) rotate(-108deg);
  }
  35%, 40% {
    -webkit-transform: scale(0.08) rotate(-144deg);
        -ms-transform: scale(0.08) rotate(-144deg);
            transform: scale(0.08) rotate(-144deg);
  }
  45%, 50% {
    -webkit-transform: scale(0.08) rotate(-180deg);
        -ms-transform: scale(0.08) rotate(-180deg);
            transform: scale(0.08) rotate(-180deg);
  }
  55%, 60% {
    -webkit-transform: scale(0.08) rotate(-216deg);
        -ms-transform: scale(0.08) rotate(-216deg);
            transform: scale(0.08) rotate(-216deg);
  }
  65%, 70% {
    -webkit-transform: scale(0.08) rotate(-252deg);
        -ms-transform: scale(0.08) rotate(-252deg);
            transform: scale(0.08) rotate(-252deg);
  }
  75%, 80% {
    -webkit-transform: scale(0.08) rotate(-288deg);
        -ms-transform: scale(0.08) rotate(-288deg);
            transform: scale(0.08) rotate(-288deg);
  }
  85%, 90% {
    -webkit-transform: scale(0.08) rotate(-324deg);
        -ms-transform: scale(0.08) rotate(-324deg);
            transform: scale(0.08) rotate(-324deg);
  }
  95%, 100% {
    -webkit-transform: scale(0.08) rotate(-360deg);
        -ms-transform: scale(0.08) rotate(-360deg);
            transform: scale(0.08) rotate(-360deg);
  }
  -100%, -95% {
    -webkit-transform: scale(0.08) rotate(360deg);
        -ms-transform: scale(0.08) rotate(360deg);
            transform: scale(0.08) rotate(360deg);
  }
  -90%, -85% {
    -webkit-transform: scale(0.08) rotate(324deg);
        -ms-transform: scale(0.08) rotate(324deg);
            transform: scale(0.08) rotate(324deg);
  }
  -80%, -75% {
    -webkit-transform: scale(0.08) rotate(288deg);
        -ms-transform: scale(0.08) rotate(288deg);
            transform: scale(0.08) rotate(288deg);
  }
  -70%, -65% {
    -webkit-transform: scale(0.08) rotate(252deg);
        -ms-transform: scale(0.08) rotate(252deg);
            transform: scale(0.08) rotate(252deg);
  }
  -60%, -55% {
    -webkit-transform: scale(0.08) rotate(216deg);
        -ms-transform: scale(0.08) rotate(216deg);
            transform: scale(0.08) rotate(216deg);
  }
  -50%, -45% {
    -webkit-transform: scale(0.08) rotate(180deg);
        -ms-transform: scale(0.08) rotate(180deg);
            transform: scale(0.08) rotate(180deg);
  }
  -40%, -35% {
    -webkit-transform: scale(0.08) rotate(144deg);
        -ms-transform: scale(0.08) rotate(144deg);
            transform: scale(0.08) rotate(144deg);
  }
  -30%, -25% {
    -webkit-transform: scale(0.08) rotate(108deg);
        -ms-transform: scale(0.08) rotate(108deg);
            transform: scale(0.08) rotate(108deg);
  }
  -20%, -15% {
    -webkit-transform: scale(0.08) rotate(72deg);
        -ms-transform: scale(0.08) rotate(72deg);
            transform: scale(0.08) rotate(72deg);
  }
  -10%, -5% {
    -webkit-transform: scale(0.08) rotate(36deg);
        -ms-transform: scale(0.08) rotate(36deg);
            transform: scale(0.08) rotate(36deg);
  }
  0% {
    -webkit-transform: scale(0.08) rotate(0deg);
        -ms-transform: scale(0.08) rotate(0deg);
            transform: scale(0.08) rotate(0deg);
  }
}

/*triggers*/
.b2-trigger{
  position: absolute;
  top: 35%;
}
.b2-trigger2{
  position: absolute;
  top: 45%;
}

.d3-trigger{
  position: absolute;
  top: 35%;
}
.d3-trigger2{
  position: absolute;
  top: 45%;
}

.logo-trigger{
  position: absolute;
  top: 35%;
}
.logo-trigger2{
  position: absolute;
  top: 45%;
}

.bg-trigger{
  position: absolute;
  top: 35%;
}
.bg-trigger2{
  position: absolute;
  top: 45%;
}

.floor-trigger{
  position: absolute;
  top: 35%;
}
.floor-trigger2{
  position: absolute;
  top: 45%;
}

.s1-trigger{
  position: absolute;
  top: 20%;
}
.s1-trigger2{
  position: absolute;
  top: 35%;
}
.s1-trigger3{
  position: absolute;
  top: 45%;
}

.s2-trigger{
  position: absolute;
  top: 20%;
}
.s2-trigger2{
  position: absolute;
  top: 35%;
}
.s2-trigger3{
  position: absolute;
  top: 45%;
}

.c1-trigger{
  position: absolute;
  top: 45%;
}

.girl-sm-trigger{
  position: absolute;
  top: 45%;
}

.slot-left-trigger{
  position: absolute;
  top: 45%;
}

.dice-left-trigger{
  position: absolute;
  top: 45%;
}

.ch1-trigger{
  position: absolute;
  top: 35%;
}
.ch1-trigger2{
  position: absolute;
  top: 45%;
}

.ch2-trigger{
  position: absolute;
  top: 35%;
}
.ch2-trigger2{
  position: absolute;
  top: 45%;
}

.m1-trigger{
  position: absolute;
  top: 35%;
}
.m1-trigger2{
  position: absolute;
  top: 45%;
}

.g1-trigger{
  position: absolute;
  top: 35%;
}
.g1-trigger2{
  position: absolute;
  top: 45%;
}

.g2-trigger{
  position: absolute;
  top: 35%;
}
.g2-trigger2{
  position: absolute;
  top: 45%;
}

.g3-trigger{
  position: absolute;
  top: 35%;
}
.g3-trigger2{
  position: absolute;
  top: 45%;
}

.g4-trigger{
  position: absolute;
  top: 35%;
}
.g4-trigger2{
  position: absolute;
  top: 45%;
}

.g5-trigger{
  position: absolute;
  top: 35%;
}
.g5-trigger2{
  position: absolute;
  top: 45%;
}

.g6-trigger{
  position: absolute;
  top: 35%;
}
.g6-trigger2{
  position: absolute;
  top: 45%;
}

.g7-trigger{
  position: absolute;
  top: 35%;
}
.g7-trigger2{
  position: absolute;
  top: 45%;
}

.g8-trigger{
  position: absolute;
  top: 35%;
}
.g8-trigger2{
  position: absolute;
  top: 45%;
}

.g9-trigger{
  position: absolute;
  top: 35%;
}
.g9-trigger2{
  position: absolute;
  top: 45%;
}
